body {

}

#page-heading {
    font-size:26px;
    margin-left:150px;
    margin-top:20px;
    font-family: calibri, helvetica, arial;
}

#top {

}

#top-menu *{
    float:left;
    margin-left:30px;
    margin-top:30px;
    color:darkgray;
    font-size:12px;
}

#search {
    
}

#search input[type="text"] {
    background: url(../../images/search-icon.png) no-repeat 175px 7px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: 14px Calibri;
    color: #bebebe;
    width: 150px;
    padding: 7px 15px 6px 35px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    margin-top:80px;
    margin-left:550px;
}

#search input[type="text"]:focus {

}

a {
    text-decoration:none;
}

#left-links {
    margin-left:45px;
    margin-top:80px;
    float:left;
}

#left-links * {
    margin-top:10px;
    font-family:calibri, helvetica, arial;
    color:blue;
}

#hr-top {
    margin-left:40px;
    margin-top:20px;
}

#hr-left {
    margin-left:20px;
}

#main-content {
}

.article-section {
    margin: 20px -240px 0 100px;
    width:400px;
    float:left;
}

.sectionHeader {
    font-size:26px;
    font-weight:bold;
    font-family:calibri, helvetica, arial;
    padding-bottom: 10px;
    padding-top:25px;
}

.sectionArticle {
    font-family:calibri, helvetica, arial;
}

.sectionFooter {
    font-family:calibri, helvetica, arial;
    color:blue;
    padding-top:30px;
}

#articles-previous-entries{
    margin-top:35px;
    font-family:calibri, helvetica, arial;
}

#left {
    width:290px;
    float:left;
}

#right {
    width:300px;
    float:left;
    margin-left:400px;
    margin-top:50px;
}

#lang {
    color:darkgrey;
}

#lang-heading {
    letter-spacing: 0.1px;
    font-family:calibri, helvetica, arial;
    margin-bottom:2px;
}

#select-lang-box {
    margin-top:5px;
    color:black;
    font-size:12px;
}

#first-line {
    margin-bottom: 2px;
}

#blog-roll {
    font-family:calibri, helvetica, arial;
    font-size:18px;
    letter-spacing: 2px;
    margin-top:50px;
    margin-bottom:1px;
}

#second-line {
    margin-top:2px;
}

#bottom-wrapper {
    margin-top:650px;
}

#twitter{
    background: #f5f5f5;
    font-style: italic;
    color:darkgray;
    height:32px;
    font-family: calibri, helvetica, arial;
}
#twitter:hover{
    background: white;
    color:black;
    cursor: pointer;
}
.bottom-links {
    background:black;
    color:white;
    height:170px;
    font-family: calibri, helvetica, arial;
}
#bottom-heading {
    float:left;
    margin-left: 50px;
}
.bottom-secondary-headings {
    margin-bottom: 0;
}
#pages {
    float:left;
    margin-left: 100px;
}
#pages a {
    text-decoration: none;
    color:white;
}
#pages a:hover {
    color:lightskyblue;
}
#bottom-pages-links {
    margin-top:10px;
    font-weight: bold;
}
#the-latest {
    float:left;
    margin-left: 180px;
}
#latest-heading {
    margin-bottom:0;
    margin-top:10px;
}
#latest-content {
    margin-top:0;
    color:grey;
}
#latest-box {
    margin-top:0;
}
#more {
    float:left;
    margin-left: 60px;
}
#more-content{
    margin-top:10px;
}
#more-content a{
    text-decoration: none;
}
#more > p {
    color:grey;
}
#copyright {
    color:white;
    float:left;
    margin-left:80px;
    margin-top:20px;
    color:grey;
}
#twitter-text:before{
    content:url('../../images/twitter.png');
    opacity: 0.2;
    position: relative;
}
#twitter-text {
    margin-left: 100px;
}